In [1]:
import pandas as pd
import plotly.express as px

# Analysis

3

In [2]:
df_delay = pd.read_excel('/home/leo/Code/ifpass/projet_deployment/data/get_around_delay_analysis.xlsx')

In [3]:
df_delay.head()

,rental_id,car_id,checkin_type,state,delay_at_checkout_in_minutes,previous_ended_rental_id,time_delta_with_previous_rental_in_minutes
0,505000,363965,mobile,canceled,NaN,NaN,NaN
1,507750,269550,mobile,ended,-81.0,NaN,NaN
2,508131,359049,connect,ended,70.0,NaN,NaN
3,508865,299063,connect,canceled,NaN,NaN,NaN
4,511440,313932,mobile,ended,NaN,NaN,NaN

In [8]:
df_delay.isna().sum()

rental_id                                         0
car_id                                            0
checkin_type                                      0
state                                             0
delay_at_checkout_in_minutes                   4964
previous_ended_rental_id                      19469
time_delta_with_previous_rental_in_minutes    19469
dtype: int64

# Preprocessing

In [ ]:
def change_state(state, delay):
    if delay > 0:
        return 'delayed'
    elif delay < 0:
        return 'On time'
    else:
        return state

In [ ]:
df_delay[]